body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 8px;
}
.parent,.parent2{
    display: flex;
    flex-direction: column;
    padding: 0px 100px ;
    background-color: #052045 ;
}
.parent2{
    background-color: white;
}
p {
    word-break: break-all;
    white-space: normal;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #052045;
    
}
#head-text{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10px;
}
.content1{
    display: flex;
    justify-content: center;
    background-color: #052045;
    gap: 30px;
    padding-bottom: 20px;
}
.content1 p{
    color: rgb(163, 161, 161);
    font-size: 18px;
}
#hero{
    font-size: 48px;
    margin-bottom: 0px;

    
    color:#F9FAF8 ;
}
button {
    height: 30px;
    width: 80px;
    background-color:dodgerblue ;
    border-radius: 8px;
    border-style: none;
    color: #E5E7EB;
    font-weight: bold;
}
.image{
    /* display: flex; */
    flex-shrink: 2;
    /* flex-basis: 0; */
}

#himg{
    display: flex;
    flex-basis: 0;
    margin-top: 24px;
    
}
.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c2-header p{
    font-weight: bold;
    font-size: 36px;
}
.con2-cards{
    display: flex;
    justify-content: center;
    gap: 15px;
    row-gap: 0;;
    flex-wrap: wrap;
}
.con2-cards img{
    border-radius: 8px;
    border-color: dodgerblue;
    border-width: 2px;
    border-style: solid;
}
.con2-subtext{
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 15px;
    text-align: center;
    row-gap: 0;;
}
.content3{
    background-color: #E5E7EB;
    text-align: center;
    /* display: flex; */
    padding: 50px 100px;
    flex-wrap: wrap;
}
.content3 p{
    font-size: 28px;
    margin: 0px;
}
#notation{
    font-size: 18px;
    text-align:right;
    font-weight: bold;
    margin: 0px;
}
a {
    text-decoration: none;
    padding: 10px;
    color: rgb(163, 161, 161);
    font-size: 18px;
}
ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin:0px;
    margin-right: 100px;
}

